.form{
 margin-top:200px;
 margin-left:420px;
 }
 
 .allign{
 margin-top:200px;
 margin-left:500px;
 }
 
 .center{
 align:center;
 }

 
 #background{
 background:#F7FE2E;
 }
 
 .header{
 color:black;
 align:center;
 }
 
 .facts{
 color:white;
 background:#2E2E2E;
 }
